/*
table {
    border-collapse: collapse;
    margin: 5px;
}

table, td, th {
    border: 1px solid black;
    padding: 2px;
}
*/

/* when mouse over link, no underline */
a:hover {text-decoration: none;}


