<!-- Utility Jinja2 macros -->

{% macro widget_pagination(pagination, endpoint) %}
{% if pagination.total %}
<ul class="pagination">
    <li{%if not pagination.has_prev %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.page-1, **kwargs) }}{% else %}#{% endif %}">
            &laquo;
        </a>
    </li>

    {% for p in pagination.iter_pages() %}
        {% if p %}
            {% if p == pagination.page %}
            <li class="active"><a href="{{ url_for(endpoint, page=p, **kwargs) }}">{{ p }}</a></li>
            {% else %}
            <li><a href="{{ url_for(endpoint, page=p, **kwargs) }}">{{ p }}</a></li>
            {% endif %}
        {% else %}
            <li class="disabled"><a href="#">&hellip;</a></li>
        {% endif %}
    {% endfor %}

    <li{%if not pagination.has_next %} class="disabled"{% endif %}>
        <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.page+1, **kwargs) }}{% else %}#{% endif %}">
            &raquo;
        </a>
    </li>
</ul>
{% endif %}
{% endmacro %}

{% macro widget_category(data, endpoint) %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">分类目录</h3>
    </div>
    <div class="panel-body">
        <ul>
            {% for category, num in data.items() %}
                <li>
                    <a href="{{ url_for(endpoint, by='category') }}#{{ category.name }}">
                        {{ category.name }} ({{ num }})
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endmacro %}

{% macro widget_archive(data, endpoint) %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">文章归档</h3>
    </div>
    <div class="panel-body">
        <ul>
            {% for year, months in data.items() %}
                {% for month, num in months.items() %}
                    <li>
                        <a href="{{ url_for(endpoint, by='time_created') }}#{{ year }}-{{ month }}">
                            {{ year }}年{{ "%02d"|format(month) }}月 ({{ num }})
                        </a>
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endmacro %}

{% macro widget_popular(data, endpoint) %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">热门文章</h3>
    </div>
    <div class="panel-body" style="padding: 10px 5px 10px 10px;">
        {% for article in data %}
        <a href="{{ url_for(endpoint, id=article.id) }}">{{ article.title|truncate(30, True) }}</a> <small>({{ article.read_count }})</small><br>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro widget_tags(data, endpoint) %}
    {% set num_min, num_max = data[0] %}
    {% set font_min, font_max = (90, 270) %}
    {% if num_min == num_max or num_min == -1 %}
    {%      set size_delta = 0 %}
    {% else %}
    {%      set size_delta = ((font_max - font_min) // (num_max - num_min)) %}
    {% endif %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">文章标签</h3>
    </div>
    <div class="panel-body" style="padding: 5px;">
        {% for tag_data in data[1:] %}
        <a href="{{ url_for(endpoint, by='tag') }}#{{ tag_data[0] }}">
            <span style="font-size:{{ (tag_data[1] - num_min) * size_delta + font_min }}%">{{ tag_data[0] }}<span>
        </a>&nbsp;
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro widget_share(url) %}
<div class="btn-group">
   <button type="button" class="btn btn-success dropdown-toggle btn-xs" data-toggle="dropdown">
     分享到 <span class="caret"></span>
   </button>
   <ul class="dropdown-menu" role="menu">
      <li><a href="#">邮件</a></li>
      <li><a href="#">微博</a></li>
      <li><a href="#">微信朋友圈</a></li>
      <li><a href="#">QQ空间</a></li>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Twitter</a></li>
   </ul>
</div>
{% endmacro %}

{% macro field_error(field) %}
    {% if field.errors %}
        <ul class="errors">
            {% for error in field.errors %}
            <li style="color:red">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

