{% extends 'base.html' %}

{% block title %}Article -- {{ article.title }} {% endblock %}

{% block page_content %}
<!--
<div class="page-header">
	<h1>文章</h1>
</div>
-->

<div class="post">
	<h1 class="post-title text-center">{{ article.title }}</h1>
    <p class="date">
        <h6><em>
            {{ article.time_modified.strftime("%Y-%m-%d %H:%M") }}, read {{ article.read_count }};
            Category: <a href="{{ url_for('articles', by='category') }}#{{ article.category.name }}">{{ article.category.name }}</a>
            {% if article.series %}
                ; Series: <a href="{{ url_for('articles', by='series') }}#{{ article.series.name }}">{{ article.series.name }}</a>
            {% endif %}
            {% if article.tags %}; Tags:
                {% for tag in tags %}
                    <a href="{{ url_for('articles', by='tag') }}#{{ tag }}">{{ tag }}</a>
                {% endfor %}
            {% endif %}
            {% if article.private %}; *不公开{% endif %}
            <span class="pull-right">{{ macros.widget_share(url="#") }}</span>
        </em></h6>
        <br/>
    </p>
    <div class="post_body">
        {% if article.content_html %}
            {{ article.content_html|safe }}
        {% else %}
            {{ article.content }}
        {% endif %}
    </div>
</div>

{% if current_user.is_authenticated %}
<div class="btn-group pull-right">
    <a href="{{ url_for('delete', id=article.id) }}" class="btn btn-default" role="button" id="article_del">删除</a>
    <a href="{{ url_for('edit', opid=article.id) }}" class="btn btn-default" role="button" id="article_edit">编辑</a>
</div>
{% endif %}

<div>
<ul class="col-md-12 pager">
    {% if prev %}
    <li class="previous"><a href="{{ url_for('article', id=prev.id) }}">&lt;&lt; 上一篇</a></li>
    {% endif %}
    {% if next %}
    <li class="next"><a href="{{ url_for('article', id=next.id) }}">下一篇 &gt;&gt;</a></li>
    {% endif %}
</ul>
<ul class="col-md-12 pager" style="margin:0">
    {% if prev %}
    <li class="previous pull-left">{{ prev.title }}</li>
    {% endif %}
    {% if next %}
    <li class="previous pull-right">{{ next.title }}</li>
    {% endif %}
</ul>
</div>

{% endblock %}
