{% extends 'base.html' %}

{% block title %}Article -- {{ article.title }} {% endblock %}

{% block page_content %}
<!--
<div class="page-header">
	<h1>文章</h1>
</div>
-->

<div class="post">
	<h1 class="post-title text-center">{{ article.title }}</h1>
    <p class="date">
        <h6><em>
            {{ article.time_modified.strftime("%Y-%m-%d %H:%M") }}, read {{ article.read_count }};
            Category: <a href="{{ url_for('articles', by='category') }}#{{ article.category.name }}">{{ article.category.name }}</a>
            {% if article.series %}
                ; Series: <a href="{{ url_for('articles', by='series') }}#{{ article.series.name }}">{{ article.series.name }}</a>
            {% endif %}
            {% if article.tags %}; Tags:
                {% for tag in tags %}
                    <a href="{{ url_for('articles', by='tag') }}#{{ tag }}">{{ tag }}</a>
                {% endfor %}
            {% endif %}
            {% if article.private %}; *不公开{% endif %}
            <!--<span class="pull-right">{{ macros.widget_share(url="#") }}</span>-->
        </em></h6>
        <br/>
    </p>
    <div class="post_body">
        {% if article.content_html %}
            {{ article.content_html|safe }}
        {% else %}
            {{ article.content }}
        {% endif %}
    </div>
    <br><br>
</div>

<!-- article sharing: use baidu share lib: http://share.baidu.com/code -->
<div class="bdsharebuttonbox pull-left">
    <a href="#" class="bds_more" data-cmd="more"></a>
    <a href="#" class="bds_qzone" data-cmd="qzone"></a>
    <a href="#" class="bds_tsina" data-cmd="tsina"></a>
    <a href="#" class="bds_tqq" data-cmd="tqq"></a>
    <a href="#" class="bds_renren" data-cmd="renren"></a>
    <a href="#" class="bds_weixin" data-cmd="weixin"></a>
</div>
{% if current_user.is_authenticated %}
<div class="btn-group pull-right">
    <a href="{{ url_for('delete', id=article.id) }}" class="btn btn-default" role="button" id="article_del">删除</a>
    <a href="{{ url_for('edit', opid=article.id) }}" class="btn btn-default" role="button" id="article_edit">编辑</a>
</div>
{% endif %}

<div>
<ul class="col-md-12 pager">
    {% if prev %}
    <li class="previous"><a href="{{ url_for('article', id=prev.id) }}">&lt;&lt; 上一篇</a></li>
    {% endif %}
    {% if next %}
    <li class="next"><a href="{{ url_for('article', id=next.id) }}">下一篇 &gt;&gt;</a></li>
    {% endif %}
</ul>
<ul class="col-md-12 pager" style="margin:0">
    {% if prev %}
    <li class="previous pull-left">{{ prev.title }}</li>
    {% endif %}
    {% if next %}
    <li class="previous pull-right">{{ next.title }}</li>
    {% endif %}
</ul>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <!-- article sharing: use baidu share lib: http://share.baidu.com/code -->
    <script>
        window._bd_share_config={
            "common":{
                "bdSnsKey":{},
                "bdText":"",
                "bdMini":"2",
                "bdPic":"",
                "bdStyle":"0",
                "bdSize":"16"},
            "share":{},
            "image":{
                "viewList":["qzone","tsina","tqq","renren","weixin"],
                "viewText":"分享到：",
                "viewSize":"16"},
            "selectShare":{
                "bdContainerClass":null,
                "bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]
            }};

        with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
    </script>
{% endblock %}

