{% extends 'bootstrap/base.html' %}

{% block title %}Tea-blog{% endblock %}

{% block head %}
{{ super() }}
    <link rel='icon' href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" href="{{ url_for('index') }}">首页</a>
	</div>
	<div>
		<ul class="nav navbar-nav">
			{% if current_user.is_authenticated() %}
            <li class="dropdown">
                <a href="{{ url_for('articles') }}" class="dropdown-toggle" data-toggle="dropdown">文章<b class="caret"></b></a>
                <ul class="dropdown-menu">
                   <li><a href="{{ url_for('articles') }}">所有文章</a></li>
                   <li><a href="{{ url_for('edit', opid='new') }}">写文章</a></li>
                </ul>
            </li>
			{% else %}
            <li><a href="{{ url_for('articles') }}">文章</a></li>
			{% endif %}
			<li><a href="{{ url_for('tools') }}">工具</a></li>
			<li><a href="{{ url_for('about') }}">关于</a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			{% if current_user.is_authenticated() %}
				<li ><a href="{{ url_for('logout') }}">Logout</a></li>
			{% else %}
				<li ><a href="{{ url_for('login') }}">Login</a></li>
			{% endif %}
		</ul>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container">
	{% for message in get_flashed_messages() %}
		<div class="alert alert-warning">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		</div>
	{% endfor %}

	{% block page_content %}
	{% endblock %}
</div>
{% endblock %}

{% block script %}
	{{ super() }}
	{{ moment.include_moment() }}
{% endblock %}
