{% extends 'bootstrap/base.html' %}
{% import '_macros.html' as macros %}

{% block title %}Tea-blog{% endblock %}

{% block head %}
{{ super() }}
    <link rel='icon' href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation" style="padding:0 20px">
	<div class="navbar-header">
		<a class="navbar-brand" href="{{ url_for('index') }}">首页</a>
	</div>
	<div>
		<ul class="nav navbar-nav">
			{% if current_user.is_authenticated() %}
            <li class="dropdown">
                <a href="{{ url_for('articles') }}" class="dropdown-toggle" data-toggle="dropdown">文章<b class="caret"></b></a>
                <ul class="dropdown-menu">
                   <li><a href="{{ url_for('articles') }}">所有文章</a></li>
                   <li><a href="{{ url_for('edit', opid='new') }}">写文章</a></li>
                </ul>
            </li>
			{% else %}
            <li><a href="{{ url_for('articles') }}">文章</a></li>
			{% endif %}
			<li><a href="{{ url_for('tools') }}">工具</a></li>
			<li><a href="{{ url_for('about') }}">关于</a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			{% if current_user.is_authenticated() %}
				<li ><a href="{{ url_for('logout') }}">Logout</a></li>
			{% else %}
				<li ><a href="{{ url_for('login') }}">Login</a></li>
			{% endif %}
		</ul>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="blog-header">
        <h1 class="blog-title"></h1>
        <p class="lead blog-description"></p>
    </div>
    <div class="row">
        <div class="col-sm-9 blog-main">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}

        {% block page_content %}
        {% endblock %}
        </div>

        <div class="col-sm-3 blog-sidebar" style="padding: 40px 20px">
        {% block page_sidebar %}
            {{ macros.widget_archive(sidebar_data['archive'], 'articles') }}
            {{ macros.widget_popular(sidebar_data['popular'], 'article') }}
            {{ macros.widget_tags(sidebar_data['tags'], 'articles') }}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        关注
                    </h3>
                </div>
                <div class="panel-body">
                    面板内容
                </div>
            </div>
        {% endblock %}
        </div>
    </div>

    <footer class="blog-footer">
        <hr>
        <p class="text-center">
            Powered by <a href="http://flask.pocoo.org">Flask</a>, 
            <a href="http://getbootstrap.com">Bootstrap</a> and <a href="http://python.org">Python</a>.
        </p>
        <p class="text-center">
            <a href="#">Back to Top</a>
        </p>
    </footer>
</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	{{ moment.include_moment() }}
{% endblock %}
