{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Article editting{% endblock %}

{% block page_content %}
<!--
<div class="page-header">
	<h1>文章编辑</h1>
</div>
-->

<!--
<div>
    {{ wtf.quick_form(form) }}
</div>
-->

<div>
<form action="" method="post" class="form" role="form">
    <div style="display:none;">
        {{ form.csrf_token() }}
        {{ form.id() }}
    </div>

    <div class="form-group required">
        {{ form.title.label }} {{ form.title(class="form-control") }}
        {{ macros.field_error(form.title) }}
    </div>
    <div class="form-group required">
        {{ form.content.label }} {{ form.content(class="form-control", rows="15%") }}
    </div>
    <div class="row form-group required">
        <div class="col-md-1">{{ form.category.label }}</div>
        <div class="col-md-5">{{ form.category(class="form-control") }}</div>
        <div class="col-md-6">{{ form.category_new(class="form-control") }}</div>
    </div>
    <div class="row form-group required">
        <div class="col-md-1">{{ form.series.label }}</div>
        <div class="col-md-5">{{ form.series(class="form-control") }}</div>
        <div class="col-md-6">{{ form.series_new(class="form-control") }}</div>
    </div>
    <div class="row form-group required">
        <div class="col-md-1">{{ form.tags.label }}</div>
        <div class="col-md-11">{{ form.tags(class="form-control") }}</div>
    </div>
    <div class="row form-group required">
        <div class="col-md-1">{{ form.private.label }}</div>
        <div class="col-md-11">{{ form.private() }}</div>
    </div>
    <div class="form-group required">
        {{ form.submit(class="btn btn-default pull-right") }}
    </div>
</form>
</div>

{% endblock %}

