{% extends 'base.html' %}

{% block title %}Welcome to Teablog{% endblock %}

{% block page_content %}
<!--
<div class="page-header">
	<h1>主页</h1>
</div>
-->

{% for article in articles %}
<div class="post">
	<h1 class="post-title text-center"><a href="{{ url_for('article', id=article.id) }}">{{ article.title }}</a></h1>
    <p class="date">
        <h6>
            <em>
                <a href="{{ url_for('articles', by='category') }}#{{ article.category.name }}">
                    <span class="label label-primary">{{ article.category.name }}</span>
                </a>
                {{ moment(article.time_modified).format('LLL') }}, read {{ article.read_count }}
            </em>
        </h6>
    </p>
	<div class="post_body">
        {% if article.content_pre %}
            {{ article.content_pre|striptags }}
        {% elif article.content_html %}
            {{ article.content_html|striptags }}
        {% else %}
            {{ article.content }}
        {% endif %}
    </div>
    <p class="text-right"><a href="{{ url_for('article', id=article.id) }}">更多...</a></p>
    <hr><br>
</div>
{% endfor %}

<div class="pagination pull-right">
    {{ macros.widget_pagination(pagination, 'index') }}
</div>
{% endblock %}

