{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{% block title %}Welcome to Tea-blog{% endblock %}

{% block page_content %}
<!--
<div class="page-header">
	<h1>主页</h1>
</div>
-->

{% for article in articles %}
<div class="post">
	<h1 class="post-title"><a href="{{ url_for('article', id=article.id) }}">{{ article.title }}</a></h1>
    <p class="date">
        <h6>
            [{{ article.category.name }}], {{ moment(article.time_modified).format('LLL') }}, read {{ article.read_count }}
        </h6>
    </p>
	<div class="post_body">{{ article.content }}</div>
    <hr>
</div>
{% endfor %}

<div class="pagination pull-right">
    {{ macros.pagination_widget(pagination, 'index') }}
</div>
{% endblock %}

